/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
   margin: 0;
   padding: 0;
   opacity: inherit;
 }

 html {
   background-position: center center;
   background-size: cover;
   font-family: 'Josefin Sans', sans-serif;
 }

 body {
   background-color: #F3F3F3;
 }

 html, body, #root, #main, #app {
   height: 100%;
 }

 ul {
   list-style: none;
 }

 a {
   text-decoration: none;
 }

 textarea {
    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input {
  border: none;
  overflow: hidden;
  outline: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

button {
  background-color: transparent;
  font-family: Verdana;
  padding: 5px;
  border-radius: 2px;
  color: #444545;
}

button:hover {
  cursor: pointer;
}

button:hover img {
  filter: grayscale(100%) brightness(200%);
  -webkit-filter: grayscale(100%) brightness(200%);
}
