#notebook-drawer {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  height: 100%;
  top: 0;
  left: 101px;
  background-color: #FFFFFF;
  flex-direction: column;
  border-right: 1px solid #ECECEC;
  z-index: 2;
}

.closed {
  opacity: 0 !important;
  width: 0px;
  visibility: hidden;
  transition: all 300ms ease;
}

.open {
  width: 500px;
  opacity: 1;
  visibility: visible;
  transition: all 300ms ease;
}

#notebook-drawer header {
  display: flex;
  align-items: center;
  justify-content: space-between
}

#notebook-drawer h2 {
  padding: 20px;
}

#notebook-drawer button {
  padding: 5px;
  margin: 20px;
  width: 25px;
  height: 25px;
  border: none;
}

#notebook-drawer header button:hover {
  background-color: #2DBE60;
}

.notebook-index-item h4 {
  display: inline-block;
}

.note-count {
  margin: 10px;
  color: #807f83;
  font-size: 14px;
}

.notebook-index-item button {
  float: right;
  margin: 0 !important;
}

.notebook-index-item .permanent {
  display: none;
}

#notebook-index:last-child {
  border-bottom: 1px solid #ECECEC;
}

.notebook-index-item {
  padding: 20px;
  border-top: 1px solid #ECECEC;
  font-weight: bolder
}

.notebook-index-item:hover {
  cursor: pointer;
  background-color: rgba(45,190,96,0.9);
  transition: 150ms ease-in;
}

.notebook-index-item button:hover {
  filter: grayscale(100%) brightness(40%);
  -webkit-filter: grayscale(100%) brightness(40%);
}

.dragged-on {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
