#note-index {
  background-color: #FFFFFF;
  border: 1px solid #D3D3D3;
  border-top: none;
  width: 400px;
  display: flex;
  flex-direction: column;
}

#note-index>header {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D3D3D3;
}

#note-index h2 {
  padding: 20px;
  text-align: left;
  color: #878787;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.new-note {
  padding: 5px;
  margin: 20px;
  width: 25px;
  height: 25px;
  border: none;
}

.new-note:hover {
  background-color: #2DBE60;
}

.new-note.hide {
  display: none;
}

.note-index-item {
  height: 80px;
  border-bottom: 1px solid #D3D3D3;
  font-family: 'Josefin Slab', sans-serif;
}

.note-index-item:hover {
  cursor: pointer;
  background-color: rgba(45,190,96,0.9);
  transition: 150ms ease-in;
}

.note-index-item header button {
  float: right;
  display: none;
  padding: 5px;
  margin: 10px;
}

.note-index-item:hover header button {
  display: inline;
  color: #000000;
}

.note-index-item:hover * {
  color: #FFFFFF;
}

.note-index-item h3 {
  float: left;
  color: #4D4D4D;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 10px 5px 10px;
}

.note-index-item-body {
  font-size: 16px;
  color: #808080;
  padding: 0px 10px 10px 10px;
  flex: 1;
}

.note-index-item > * {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.note-index-item button {
  width: 25px;
  height: 25px;
  margin: 5px !important;
  border: none;
}

.note-index-item button:hover img {
  filter: grayscale(100%) brightness(40%);
  -webkit-filter: grayscale(100%) brightness(40%);
}
