/*Note*/
.note {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 70%;
  background: #FFFFFF;
}

#note-body {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
}

#body-text {
  width: 100%;
  display:flex;
  flex-direction: column;
}

/*Note Header*/
#note-header {
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D3D3D3;
}

.note .title {
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  color: #2DBE60;
  display: inline;
  width: 50%;
  padding-left: 40px;
}

/*Note Splash*/
#note-splash {
  position: relative;
}

#note-splash .logo {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 20%;
  left: 25%;
  opacity: 0.4;
}

/*Body Text*/

#note-body {
  height: 100%;
}

#body-text img {
  box-shadow: 0px 0px 3px 0px rgba(47,47,47,1);
  border-radius: 2px;
  height: 200px;
  float: right;
  width: auto;
  margin: 10px 0px 10px 20px;
}

.quill-toolbar.ql-toolbar.ql-snow * {
  font-family: 'Lato', sans-serif;
}

.quill-toolbar.ql-toolbar.ql-snow {
  margin-left: 25px;
  margin-top: 5px;
}

.quill-contents.ql-container.ql-snow {
  overflow: auto;
  border-left: 1px solid #D3D3D3;
  border-top: 1px solid #D3D3D3;
}
