#notebook {
  display: flex;
  height: 100%;
}

#sidebar {
  flex: 0 0 80px;
  flex-direction: column;
  text-align: center;
}

#sidebar button {
  margin: 20px 0px;
  padding: 5px;
}

#sidebar button:hover {
  cursor: pointer;
}

#note-index {
  background-color: #FFFFFF;
  border: 1px solid #ECECEC;
  width: 400px;
}

#note-index header {
  padding: 20px;
  text-align: left;
  color: #878787;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  border-bottom: 1px solid #ECECEC;
}

.note-index-item {
  height: 80px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ECECEC;
  font-family: 'Josefin Slab', sans-serif;
}

.note-index-item:hover {
  cursor: pointer;
  background-color: rgba(45,190,96,0.9);
}

.note-index-item:hover * {
  color: #FFFFFF;
}

.note-index-item-header {
  color: #4D4D4D;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 10px 5px 10px;
}

.delete-button:hover {
  background-color: #CCCCCC;
}

.note-index-item-body {
  font-size: 16px;
  color: #808080;
  padding: 0px 10px 10px 10px;
  flex: 1;
}

.note-index-item > * {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#note {
  flex: 1;
  flex-direction: column;
  display: flex;
  width: 70%;
  background: #FFFFFF;
}

#note header {
  color: #B3B3B3;
  display: flex;
  height: 40px;
  flex-direction: row;
}

#note header * {
  padding: 5px;
  margin: 5px;
}

#note header:hover {
  border-bottom: 1px solid #ECECEC;
  height: 60px;
}

#note header button {
  display: none;
}

#note header:hover button {
  display: block;
  margin: 20px;
  padding: 5px;
}

#note header:hover span {
  display: none;
}

#note .title {
  font-family: 'Josefin Slab', sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  padding: 20px 40px;
  color: #2DBE60;
}

#note .body {
  padding-left: 40px;
  font-family: 'Josefin Slab', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  flex: 1;
}

#note-splash {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700px;
  padding: 40px 60px;
}
