#notebook {
  display: flex;
  height: 100%;
}

#sidebar {
  width: 60px;
}

#note-index {
  background-color: #FFFFFF;
  border: 1px solid #ECECEC;
  width: 30%;
}

#note-index header {
  margin: 20px 0;
  text-align: left;
  text-indent: 20px;
  color: #878787;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

#note-index-item {
  height: 80px;
  border-top: 1px solid #ECECEC;
  font-family: 'Josefin Slab', sans-serif;
}

#note-index-item:last-child {
  border-bottom: 1px solid #ECECEC;
}

#note-index-item:hover {
  cursor: pointer;
  background-color: rgba(45,190,96,0.9);
}

#note-index-item:hover * {
  color: #FFFFFF;
}

.note-index-item-title {
  color: #4D4D4D;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 10px 5px 10px;
}

.note-index-item-body {
  font-size: 16px;
  color: #808080;
  padding: 0px 10px 10px 10px;
}

#note {
  flex-direction: column;
  display: flex;
  width: 70%;
  background: #FFFFFF;
}

#note>.title {
  font-family: 'Josefin Slab', sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  padding: 20px 40px;
  color: #2DBE60;
}

#note textarea {
  padding-left: 40px;
  font-family: 'Josefin Slab', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

#note>.body {
  flex: 1;
}
