#notebook-drawer {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  height: 100%;
  top: 0;
  left: 81px;
  background-color: #FFFFFF;
  flex-direction: column;
  border-right: 1px solid #ECECEC;
  z-index: 2;
}

.closed {
  opacity: 0 !important;
  width: 0px;
  visibility: hidden;
  transition: all 300ms ease;
}

.open {
  width: 500px;
  opacity: 1;
  visibility: visible;
  transition: all 300ms ease;
}

#notebook-drawer header {
  display: flex;
  align-items: center;
  justify-content: space-between
}

#notebook-drawer h2 {
  padding: 20px;
}

#notebook-drawer header button {
  padding: 5px;
  margin: 20px;
}

.notebook-index-item button {
  padding: 5px;
  margin: 20px;
}

.notebook-index-item .permanent {
  display: none;
  background-color: red;
}

#notebook-index:last-child {
  border-bottom: 1px solid #ECECEC;
}

.notebook-index-item {
  padding: 20px;
  border-top: 1px solid #ECECEC;
  font-weight: bolder
}

.notebook-index-item:hover {
  cursor: pointer;
  background-color: rgba(45,190,96,0.9);
}
