/*Note*/
.note {
  flex: 1;
  flex-direction: column;
  display: flex;
  width: 70%;
  background: #FFFFFF;
}


/*Note Header*/
#note-header {
  display: flex;
  align-items: center;
  height: 49px;
}

.note .title {
  font-family: 'Josefin Slab', sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  color: #2DBE60;
  display: inline;
  width: 50%;
  margin: 0 20px;
}


/*Tag Form*/
#tag-label {
  opacity: 0.7;
  color: #2DBE60;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

#tag-form input {
  opacity: 0.7;
  border-radius: 2px;
  padding: 5px;
  margin: 0px;
  border: 1px solid #2DBE60;
  width: 0px;
  display: inline-block;
  transition: all 200ms ease-in-out;
}

#note-header:hover #tag-form input {
  width: 80px;
  transition: all 200ms ease-in-out;
  opacity: 1.0;
}

#note-header:hover #tag-label {
  opacity: 1.0;
}

#tag-form input:focus {
  width: 80px;
  opacity: 1.0;
}

#tag-form input:focus #tag-label {
  opacity: 1.0;
}


/*Note Splash*/
#note-splash {
  position: relative;
}

#note-splash .logo {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 20%;
  left: 25%;
  opacity: 0.4;
}

.quill-toolbar.ql-toolbar.ql-snow * {
  font-family: 'Lato', sans-serif;
}

.quill-toolbar.ql-toolbar.ql-snow {
  border-top: 1px solid #D3D3D3;
}
