#notebook-form {
  border-top: 1px solid #ECECEC;
  background-color: #FFFFFF;
}

#notebook-form form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.off {
  opacity: 0 !important;
  height: 0px;
  visibility: hidden;
  transition: all 300ms ease;
}

.on {
  height: auto;
  opacity: 1;
  visibility: visible;
  transition: all 300ms ease;
}

#notebook-form input {
  border: 1px solid #CCCCCC;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  display: inline;

  width: 50%;
  height: 30px;
  border-radius: 3px;
  margin: 10px 30px;
  font-size: 16px;
}

#notebook-form-button {
  font-size: 14px;
  padding: 8px 12px;
  margin: 10px 30px ;
  width: auto;
  background-color: #2DBE60;
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
}
