/*Note*/
.note {
  flex: 1;
  flex-direction: column;
  display: flex;
  width: 70%;
  background: #FFFFFF;
}


/*Note Header*/
#note-header {
  display: flex;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid #D3D3D3;
}

.note .title {
  font-family: 'Josefin Slab', sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  color: #2DBE60;
  display: inline;
  width: 50%;
  margin: 0 20px;
}


/*Tag Form*/
#tag-form {
  display: flex;
  align-items: center;
}

#tag-label {
  border: none;
  margin: 10px;
  width: 30px;
  height: 30px;
}

#tag-form input {
  opacity: 0.7;
  border-radius: 2px;
  padding: 5px;
  margin: 0px;
  border: 1px solid #2DBE60;
  width: 0px;
  display: inline-block;
  transition: all 200ms ease-in-out;
}

#note-header:hover #tag-form input {
  width: 80px;
  transition: all 200ms ease-in-out;
  opacity: 1.0;
}

#note-header:hover #tag-label {
  opacity: 1.0;
}

#tag-form input:focus {
  width: 80px;
  opacity: 1.0;
}

#tag-form input:focus #tag-label {
  opacity: 1.0;
}


#tag-confirmation {
    color: #2DBE60;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

#tag-confirmation.hide {
  opacity: 0.0;
  transition: 200ms;
}

#tag-confirmation.show {
  opacity: 1.0;
  transition: 200ms;
}


/*Note Splash*/
#note-splash {
  position: relative;
}

#note-splash .logo {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 20%;
  left: 25%;
  opacity: 0.4;
}

/*Quill*/
.quill-toolbar.ql-toolbar.ql-snow * {
  font-family: 'Lato', sans-serif;
}

.quill-toolbar.ql-toolbar.ql-snow {
  margin-left: 25px;
  margin-top: 5px;
}

.quill-contents.ql-container.ql-snow {
  border-left: 1px solid #D3D3D3;
}
