.signup-in-page {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 16px;
}

.signup-in-box {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%) translateY(-50%);
}

.signup-in-page form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.signup-in-page h1 {
  font-weight: 500;
  text-align: center;
  font-size: 32px;
  color: #1c2f2f;
  margin: 20px;
}


.errors {
  width: 75%;
  display: block;
  text-align: left;
  font-family: 'Lato', sans-serif;
  padding-bottom: 10px;
}

.errors li {
  padding-bottom: 5px;
}

.signup-in-input {
  font-family: 'Lato', sans-serif;
  border: 1px solid #CCCCCC;
  text-align: left;
  text-indent: 20px;
  padding: 10px 0px;
  border-radius: 4px;
  font-size: 16px;
  width: 75%;
  margin-bottom: 20px;
}

.signup-in-button:hover {
  cursor: pointer;
}

.signup-in-box button {
  font-weight: 300;
  color: #FFFFFF;
  background-color: #2DBE60;
  padding: 10px;
  text-align: center;
  text-indent: 0px;
  border: none;
}


.signup-in-link {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 20px auto;
  text-align: center;
  color: #2F4F4F;
}

.signup-in-link a {
  display: block;
  padding: 5px;
  color: #2DBE60;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
