#signup-page {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 16px;
}

#signup-page form {
  box-shadow: 0px 0px 1px 0px rgba(135,135,135,1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  height: 280px;
  background-color: #FFFFFF;
  margin: 20px auto;
}

#signup-page h1 {
  font-weight: 300;
  text-align: center;
  margin: 20px;
  font-size: 32px;
  color: #2DBE60;
}

#signup-page form input {
  width: 320px;
  height: 40px;
  border-radius: 3px;
  margin: 40px auto 0;
  font-size: 16px;
}

.username, .password {
  border: 1px solid #CCCCCC;
  text-align: left;
  text-indent: 20px;
}

#signup-button {
  font-weight: 300;
  padding: 20px auto;
  color: #FFFFFF;
  height: 30px;
  background-color: #2DBE60;
  border: 1px solid #1FAE52;
}

#signup-button:hover {
  cursor: pointer;
}

#login-link {
  font-size: 14px;
  margin: 20px auto;
  text-align: center;
  color: #878787
}

#login-link a {
  color: #2DBE60;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
